<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RGB Upload</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style>
        body{
        background-image: url('{{ url_for("static", filename="img/bg.jpg") }}');
        /* background-color: */
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        }
        .butn {
            background-color: #008000;
            color: #ffffff;
            margin-top: 35px;
        }
    </style>
    {{ dropzone.load_css() }} {{ dropzone.style('border: 2px dashed #0087F7; margin: 5%; min-height: 300px;') }}
</head>
<body align="center">
    <div >
        <div id="content" style="padding-top:50px;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="panel panel-primary" style="border:1px Green Solid">
                            <div class="panel-heading" style="background:Green">
                                <h2>Upload RGB Image</h2>
                            </div>
                            <div class="panel-body">
                                <div class="form-group" style="height:300px;">
                                    {{ dropzone.load_js() }} 
                                    {{ dropzone.create(action='upload') }}
                                </div>
                                
                                <button id="upload-btn" class="btn btn-lg butn">Upload</button> {{ dropzone.config(custom_init='dz = this;document.getElementById("upload-btn").addEventListener("click", function handler(e) {dz.processQueue();});', custom_options='autoProcessQueue:
                                false, addRemoveLinks: true, parallelUploads: 20,') }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
